/* ====================================
   FOOTER SECTION
   Social links and copyright
   ==================================== */

footer {
    background-color: rgb(50, 50, 50);
    padding: 1em;
    margin-top: 5em;
    text-align: center;
    position: static;
    width: 100%;
    border: none;
}

footer p {
    font-size: calc(0.1em + 1vw);
    color: white;
}

footer img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

footer img {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
}

/* Work Section Link Styles */
.Work a:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(50, 70, 100);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.Work a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
}
