/* ====================================
   FOOTER SECTION
   Social links and copyright
   ==================================== */

footer {
    background-color: var(--clr-dark);
    padding: 1em;
    margin-top: 5em;
    text-align: center;
    position: static;
    width: 100%;
    border: none;
}

footer p {
    font-size: calc(0.1em + 1vw);
    color: white;
}

footer img {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

footer img:hover {
    transform: scale(1.2);
}

/* Work Section Link Styles */
.Work a {
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-text);
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.Work a:hover {
    color: var(--clr-navy);
    transform: scale(1.1);
}
