@charset "UTF-8";

html {
    box-sizing: border-box;
    min-width: 20em;
    min-height: 50em;
    scroll-behavior: smooth;
    transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
    overflow-x: hidden;
}
* {
    box-sizing: inherit;
}

hr{
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    margin-right: 5em;
    margin-left: 5em;
}

/*BACKGROUND Styles*/
body {
    background: linear-gradient(45deg,#93c99b, #616a70);
    background-size: 200%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    animation: gradientAnimation 6s infinite linear;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.menu_links {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, rgba(147, 201, 155, 0.7) 0%, rgba(147, 201, 155, 0.4) 100%);
    backdrop-filter: blur(8px);
    transition: background-color 0.5s ease-in-out;
    overflow-x: hidden;
    z-index: 1000;
}
.menu_links a {
    color: rgb(0, 0, 0);
}

/*NAV Styles*/
nav {
    justify-items: center;
    background-color: transparent;
    padding-top: 0.75em;
    padding-bottom: 1.5em;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-inline-start: 0;
}
nav li {
    padding: 0.2em 1em;
    border-left: 0.2em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.6s ease-in-out;
}
nav li:hover{    
    padding: 0.2em 3em;
}
nav li a {
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: calc(1em +1vw);
    transition: color 0.6s ease-in-out, scale 0.6s ease-in-out;
}
nav li a:hover {
    color: rgb(51, 37, 84);
    scale: 1.3;
}

nav li:first-child {
    border-left: none
}

/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 1001;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

/*ARTICLE Styles*/
article{
    padding: calc(1vw + 1vh);
    text-align: center;
    margin: calc(5vw);
    border-radius: 1.5em;
    padding-top: 10vh;
}
.Rudolf_Hoffmann{
    padding-bottom: 50vh;
}
article header {
    text-align: center;
}
article h2{
    font-size: calc(2em + 2vw);
    margin: 0;

    padding: calc(1em + 2vw);
}
article ul {
    font-size: calc(1em +1vw);
    justify-self: center;
    align-self: center;
    text-align: left;
}

article p {
    font-size: calc(1em + 1vw);
    text-align: center;
    justify-self: center;
}

article p a {
    color: black;
    text-decoration: none;
    font-size: calc(1em +1vw);
}

article img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    justify-self: center;
    align-self: center;
}

/*SECTION Class Styles*/
/*1 Rudolf Hoffmann*/
.Rudolf_Hoffmann {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 5vh 2em;
    margin: 0 auto;
    max-width: 1200px;
}

.Rudolf_Hoffmann h2 {
    font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
    margin: 0 0 1.5em 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
}

.Rudolf_Hoffmann p {
    font-size: clamp(1.1rem, 2vw + 0.5rem, 1.8rem);
    margin: 0.8em auto;
    padding: 1em 2em;
    max-width: 800px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.8);
}

/*2 Short Bio*/
.Short_Bio {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
}
.Short_Bio img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}
.Short_Bio ul {
    padding-inline-start: 0;
    font-size: calc(1em + 1vw);
    list-style-type: none;
    text-align: center;
}

/*Collapsible from External Source*/
input[type='checkbox'] {
    display: none;
}
.lbl-toggle {
    display: block;
    font-weight: bold;
    font-size: calc(1em + 1.5vw);
    text-align: center;
    padding: 1em;
    color: #000000;
    background: none;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}
.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
}
.collapsible-content .content-inner {
    background: rgba(107, 136, 177, 0.2);
    padding: .5rem 1rem;
}

/*3 Projects*/
.Projects{
    padding-bottom: 30vh;
}
.gallery {
    display: flex;
    overflow:visible;
}
.gallery ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.gallery ul li {
    flex: 1;
    height: 50vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin: 0.2em;
}
.gallery ul li:hover {
    flex-grow: 6;
}
.gallery ul li img {
    object-fit:cover;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.gallery ul li:hover img {
    object-fit: contain;
}
.gallery ul li .collapsed p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5em + 0.8vh);
}
.gallery ul li .collapsed{
    display: none;
}
.gallery ul li:hover .collapsed{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(107, 136, 177, 0.2);
    padding: .5rem 1rem;
    border-radius: 1em;
    font-size: calc(1em + 0.8vh);
}
/*4 Work*/
.Work{
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 25vh;
}

.work_design {
    display: grid;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1.5em;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.work_left{
    grid-column: 1;
    grid-row: 1;
    padding: 1em;
    margin: 1em;
    align-items: center;
    border: #000000 0.1em solid;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
}

.work_left:hover, .work_right:hover{
    transform: scale(1.1);
}

.work_right{
    grid-column: 2;
    grid-row: 1;
    padding: 1em;
    margin: 1em;
    text-align: right;
    border: #000000 0.1em solid;
    align-items: center;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
}
/*FOOTER Styles*/
footer {
    background-color: rgb(50, 50, 50);
    padding: 1em;
    margin-top: 5em;
    text-align: center;
    position: static;
    width: 100%;
    border: none;
}

footer p {
    font-size: calc(0.1em +1vw);
    color: white;
}
footer img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
footer img{
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
}

/*OTHER Styles*/

.Work a:hover{
    transition: color 0.3s ease-in-out;
    color: rgb(50, 70, 100);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.Work a {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

/*RESPONSIVE STYLES - Mobile and Tablet*/
@media screen and (max-width: 768px) {
    article {
        padding-top: 8vh;
    }
    
    .Rudolf_Hoffmann {
        padding-top: 12vh;
    }
    
    .menu_links {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    .hamburger {
        display: flex;
    }
    
    nav {
        padding-top: 1em;
        padding-bottom: 1em;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    
    .menu-toggle:checked ~ nav {
        max-height: 500px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
    }
    
    nav li {
        padding: 0.5em 1em;
        border-left: none;
        border-bottom: 0.1em solid black;
        min-width: 100%;
    }
    
    nav li:last-child {
        border-bottom: none;
    }
    
    nav li:hover {
        padding: 0.5em 1em;
    }
    
    nav li a {
        font-size: 1.1em;
    }
    
    nav li a:hover {
        scale: 1.1;
    }
}

@media screen and (max-width: 480px) {
    article {
        padding-top: 8vh;
    }
    
    .Rudolf_Hoffmann {
        padding-top: 12vh;
    }
    
    nav ul {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
    }
    
    nav li {
        padding: 0.5em 1em;
        border-left: none;
        border-bottom: 0.1em solid black;
        min-width: 100%;
    }
    
    nav li:last-child {
        border-bottom: none;
    }
    
    nav li:hover {
        padding: 0.5em 1em;
    }
    
    nav li a {
        font-size: 1.1em;
    }
}